{% extends "blog/base.html" %}

{% load static %}

{% block content %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
		    <div class="carousel-item active">
		        <img src="{% static 'homeprofe.jpg' %}" class="d-block w-100 img-fluid">
		    </div>
		    <div class="carousel-item">
		        <img src="{% static 'homealunos.jpg' %}" class="d-block w-100 img-fluid">
		    </div>
		    <div class="carousel-item">
		        <img src="{% static 'homecadernos.jpg' %}" class="d-block w-100 img-fluid">
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		</a>
	</div>

    <center>

    <br><br>

    <h2>Caiu aqui de repente?</h2>
    <br>

    <div class="row">
    	<div class="col-8">
    		<br><br>
		    <p>Bem vindo(a)! </p>
			<p>Esse é um site educacional, para quem tem dificuldade com alguma matéria ou conteúdo, ou simplesmente quer saber algumas curiosidades e um pouquinho mais de tudo. Ele foi construído por uma estudante para outros estudantes, então é uma página dinâmica e direta. Além disso, eu não sou nenhuma força divina. Estou aberta a correções e sugestões, apesar de que nada vai ser postado aqui sem ser feita muita pesquisa antes. </p>
		    <p>A seleção de matérias foca o Ensino Médio, mas pode englobar várias outras gamas da educação. Concluindo: o blog é para e de quem quiser. :)</p>
    	</div>
    	<div class="col">
    		<img src="{% static 'homesobre.jpg' %}" class="img-fluid">
    	</div>
    </div>

    <hr>
    <h2 class="py-4">Confira alguns posts:</h2></center>

    <div class="row">
        {% for post in object_list %}
            {% include "blog/post_card.html" %}
        {% endfor %}
    </div>
    <br>
{% endblock %}
