{% extends "blog/base.html" %}

{% block content %}

                
                            <br>
                
                            <div class="row">
                                <div class="col-8">
                                    <p>Olá, bem vindxs ao blog Indo e Vindo, um site interativo para postagem de textos!</p>
                                    <br>
                                    <h2>Explicando</h2>
                                    <p>O Indo e vindo foi criado por essa que vos escreve para postar algumas ideias de textos, contos, poemas, citações e etc.
                                    Mas como seria muito solitário e entediante um site inteiro só para mim, com um só ponto de vista, ele agora conta com a colaboração de todos os dispostos.</p>
                                    <p>Para contribuir com suas ideias e inspirações, registre-se ou faça login e digite-as.
                                    A ideia aqui é que todos saiam ganhando, então comente sugestões ou aponte erros ortográficos. Se você ficou ofendido com alguma postagem, sinta-se livre para denunciá-la e nós iremos revê-la.</p>
                                </div>
                                <div class="col">
                                    <img src="https://gitlab.com/gato_pretinho/sitezinho/raw/ab7ad128261e7d03db0101ccd1cd7122ee718885/img/coracao.jpg" class="img-fluid">
                                </div>
                            </div>
                            <p>Nossa equipe vem atualizando o site, mas caso queira mandar um dos seus textos, contate-nos. Não se esqueça de mandar uma imagem, fotografia ou arte sua para complementar as suas ideias.</p>
                
                            <br>
                
                            <h2>História</h2>
                </div>  

{% endblock %}
